.setupdiv {
  position:absolute;
  top: 30px;
  right: 30px;
  width: 640px;
  height: 550px;
  z-index: 25;
  background-color: rgb(34, 34, 34);
}

.stylebtn {
  width: 140px;
  height: 180px;
  border-radius: 0px;
}

.hidden {
  display: none;
}

#map {
  width: 100%;
  height: 40vh;
  margin: auto;
  z-index: 10;
  display: block;
}

#map img {
  max-height: none;
}

#points, .col_yellow {
  color: yellow;
}

.col_red {
  color: red;
}

.col_green {
  color: green;
}

.col_gray {
  color: gray;
}

.center {
  height: 100%;
  position: relative;
  width: 100%;
  padding-left: 20px;
}

/* If the text has multiple lines, add the following: */
.center div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  line-height: 1.5;
  /*margin: auto;*/
  /*padding: 10px 0;*/
  font-family: Baskerville;
  font-size: 14px;
  text-align: left;
}

.leaflet-container {
  background-color: rgb(34, 34, 34);
  background: rgb(34, 34, 34);
  outline: 0;
}

.modal-title.h4 {
  font-size: 2.5rem;
}